{% extends 'layouts/main.html' %} {% block title %}Dili Ventures{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-6">
    <h1>🔥🔥 Diliventures 🔥🔥</h1>
    <p class="lead">More Than Just A Time Tracker</p>
    <div class="row">
      <div class="col-sm-6">
        <a href="/register"
          ><button class="btn btn-primary btn-lg">Register</button></a
        >
      </div>
      <div class="col-sm-6">
        <a href="/login"
          ><button class="btn btn-primary btn-lg">Sign In</button></a
        >
      </div>
    </div>
    <p class="lead">finest device tracker for free.</p>
  </div>
  <!-- <div class="col-sm-6 hidden-sm hidden-xs">
		<img
			id="front-splash"
			src="{{ url_for('static',filename='img/front-splash.jpg') }}"
			alt="Front Photo of Musical Band"
		/>
	</div> -->
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="items">
      <h2>About us</h2>
      <p>
        If you are looking for how to find my phone in Kenya or researching ways
        how to locate my phone this is for you. Now, let us start illustrating
        ways how to locate a phone. We have gathered solutions on how to find a
        phone in Kenya for both Android and iPhone users. Even if you use an
        iPhone or Android and live in Kenya, you need to know how to track a
        phone number in Kenya.
      </p>
    </div>
  </div>
</div>
{% endblock %}
